* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* HEADER SECTION */

/*Centre the header and the text below */

.header {
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

/* HERO SECTION */

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #FFFAFA;
    padding: 40px;
    margin: 40px auto;
    max-width:min-content;
    border-radius: 10px;
}

.item-1, .item-2, .item-3,
.item-4, .item-5, .item-6 {
    min-height: 10vh;
}

.item-1, .item-2, .item-3,
.item-4, .item-5, .item-6 {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.item-1 h3, .item-1 p,
.item-2 h3, .item-2 p,
.item-3 h3, .item-3 p,
.item-4 h3, .item-4 p,
.item-5 h3, .item-5 p,
.tem-6 h3, .item-6 p {
    margin-top: 15px;
    min-width: 300px;
}

.item-1 img, .item-2 img, .item-3 img,
.item-4 img, .item-5 img, .item-6 img {
    border-radius: 50%;
}


.item-1 h3:hover,
.item-2 h3:hover,
.item-3 h3:hover,
.item-4 h3:hover,
.item-5 h3:hover,
.item-6 h3:hover,
h1:hover {
    cursor: pointer;
    color: lightblue;
}

/*BUTTON SECTION */

input {
    width: 100px;
    height: 40px;
    background-color: #101830;
    color: white;
    border-radius: 6px;
}

.button {
    text-align: center;
    position: relative;
    top: 50px;
}

input:hover {
    background-color: inherit;
    color: #000;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* PSEUDO ELEMENTS */

.text h3::after {
    content: url(/images/badge/verified.svg);
    position: relative;
    vertical-align: middle;
    margin: 0.5rem;
}

